@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid #fff;
  padding: 15px;
  height: 15vh;
  background: rgb(35, 41, 82);
}

.typing-demo {
  width: 99ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  overflow: hidden;
  font-family: monospace;
  font-size: 2rem;
  color: white;
  padding: 20px;
 
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


